.glfuN{
    background-color: green !important;
}

.iOCYje  {
    background-color: green !important;
    color: white !important;
}


.hQsUiY, .cRmLCo{
    background-color: #EAF0F6 !important;
    color: black !important;
    margin-top: 2px !important;
    /* margin-left: 2px !important; */
}
.fBGGBn{
    background-color: white;
}

.hDUXUW{
    /* padding-top: 20px; */
    padding-bottom: 50px !important;
}

.jpJyWr{
    height: 100%;
}
.hiexti:hover{
    background-color: none !important; 
    border: none !important;
}
.hQsUiY{
    margin-bottom: 8px !important;
    /* margin-left: 10px !important; */
}