.pfxLandingImage {
    width: 100%;
}

.discoverHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-7663b.appspot.com/o/discover%20pfx%2Fdiscover%20pic.jpg?alt=media&token=c2cf52f5-884f-4bf1-853a-080f2fbd5ba7");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.pfxMainTitle {
    position: absolute;
    margin-bottom: 5%;
    color: #fff;
    font-size: 350%;
    font-weight: 600;
}

.pfxBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfxTitleSmall {
    color: #494949;
    font-size: 200%;
    font-weight: 500;
}

.pfxText {
    width: 50%;
    color: #494949;
    font-size: 110%;
    font-weight: 400;
}

.pfxBodyContainerSmall {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    margin-left: 12%;
    color: #494949;
}

.pfxList {
    width: 35%;
}

.pfxFacilityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.facilityImage1 {
    width: 30vh;
    height: 20vh;
}

.facilityImages {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 3%;
    margin-bottom: 2%;
}