.Header {
    width: 100%;
}

.mainHeader {
    display: flex;
    width: 100%;
    border-bottom: 1px solid grey;
    box-shadow: 0.35em 0.35em 0.35em rgba(0,0,0,0.135);
}

.logo {
    width: 25vh;
    margin-right: 4%;
    font-size: 200%;
    font-weight: 400;
    margin-top: 10%;
    margin-left: 2%;
    color: #e80700;
}

.link_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.links {
    font-weight: 500;
    cursor: pointer;
}

.mainHeaderLinkText {
    width: 60%;
    margin: 0%;
}

.linkContainerSmall {
    width: 15%;
}

.links:hover {
    color: #e80700;
    transition: 0.5s;
}

.navMenu {
    position: absolute;
    margin-top: 1.6%;
    width: 7%;
}

.navMenuProducts {
    position: absolute;
    margin-top: 1.4%;
    width: 10%;
    z-index: 1;
}

.navMenuLinks {
    display: flex;
    flex-direction: column;
    background-color: #292929;
    width: 140%;
    align-items: center;
    padding-left: 5%;
}

.navLinks {
    font-size: 90%;
    font-weight: 300;
    color: #ccc;
    padding-top: 4%;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.navLinks:hover {
    color:#e80700;
}