.pclLandingImage {
    width: 100%;
}

.pclHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-7663b.appspot.com/o/products%20%26%20services%2Fproducts%20banner.jpg?alt=media&token=aee58f55-f203-4991-8f91-b814ae75a881");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}


.pclMainTitle {
    position: absolute;
    color: #fff;
    font-size: 250%;
    font-weight: 400;
}

.border1 {
    border-top: 0.5px solid #494949;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
}

.pclBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pclIntroText {
    width: 40%;
    font-size: 115%;
    font-weight: 400;
    color:#494949;
}

.pclTitleSmall {
    font-size: 250%;
    color: #09aa06;
}

.pclList {
    font-size: 115%;
    font-weight: 400;
    color:#494949;
}

.pclPic1 {
    position: absolute;
    margin-left: 35%;
    margin-top: 10%;
}

.pclPic2 {
    position: relative;
    margin-left: 5%;
}