.stagingHeaderContainer {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,.6)), url("https://firebasestorage.googleapis.com/v0/b/panelflex-7663b.appspot.com/o/products%20%26%20services%2Fproducts%20banner.jpg?alt=media&token=aee58f55-f203-4991-8f91-b814ae75a881");
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.stagingPic {
    position: absolute;
    margin-left: 35%;
    width: 15%;
}